<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ThalediNama</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <script src="/javascript/adminPage.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap" rel="stylesheet">
</head>
<body>
<div class="topHeading">
    <h2>You are currently logged in as ADMIN be careful</h2>
    <button class="addNewPostBtn" onclick="return navigateToAddNewPost()" id="addNewPostBtn" type="button">Add New Post</button>
</div>
<div class="timeline">
    <template id="post-template">
        <div class="container">
            <img src="" alt="">
            <div class="textbox">
                <h2>Title</h2>
                <small class>subtitle</small>
                <p>
                    Post data.
                </p>
                <span class=""></span>
            </div>

        </div>
    </template>
</div>

</body>
</html>